
body{
	background-color:powderblue;
}

.h1{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
	font-size: 40px;


}
.pre{
	font-size: 18px;
}

.main{
width: 1200px;
height: 800px;
background-color: white;
margin-top: -20px;
margin-left: 80px;
border-radius: 10px;


}
.ul{
 margin-left: 190px;
	list-style-type: none;
}
.input1{
	width: 360px;
	height: 35px;
	border: 2px solid grey;
}
#dropdown{
	margin-top: -30px;
	
	width: 150px;
	height: 30px;
	background-color: #dfdfdf;
	padding: 2px;
}

.drop{
	margin-left: -490px;
}
.drop1{
    font-size: 15px;
	margin-left: -650px;
}
.ul1{
	list-style-type: none;
	margin-top: -80px;
	margin-left: -250px;
}
.Maybe{
	margin-left: -10px;
}
.Maybe1{
	margin-left: -2px;
}
#dropdown1{
	margin-top: -30px;
	margin-left: 50px;
	width: 150px;
	height: 30px;
	background-color: #dfdfdf;
	padding: 2px;
}
.drop2{
	margin-left: -400px;
}
.ul2{
    margin-top: -80px;
	margin-left: -200px;
	list-style-type: none;
}
.drop3{
	font-size: 15px;
	margin-left: -750px;
}
.Maybe2{
	margin-left: -20px;
}
